<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pinger.urls" value="http://pholio.co"/>
    <add key="MONGOLAB_URI" value="mongodb://appharbor_0b7f045c-150a-415f-8601-1ff1ee508f49:oo7c9jvpbnu3e0q93ms7vvr8ao@ds035897-a.mongolab.com:35897/appharbor_0b7f045c-150a-415f-8601-1ff1ee508f49"/>
    <add key="interval" value="1"/>
  </appSettings>
</configuration>